.c-abas-previdencia {
    width: 100%;
    background-color: var(--color-white-100);
    border-bottom: var(--border-width-thin) solid var(--color-neutral-100);
}

.c-abas-previdencia__lista {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: var(--spacing-tiny);
}

.c-abas-previdencia__item {
    flex: 1;
}

.c-abas-previdencia__link {
    position: relative; 
    display: block;
    text-align: center;
    padding: var(--spacing-xxsmall) var(--spacing-micro);
    text-decoration: none;
    color: var(--color-primary-500);
    transition: all 0.2s ease;
}

.c-abas-previdencia__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--color-primary-500);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    opacity: 0;
    transform: scaleX(0.6);
    box-shadow: 0 0 0 transparent;
    transition:
            opacity 0.3s ease,
            transform 0.35s ease,
            box-shadow 0.4s ease;
}


.c-abas-previdencia__link--ativo.animar::after {
    opacity: 1;
    transform: scaleX(1);
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
}